.pokemon__wrapper:before, .pokemon__wrapper:after { content: ''; display: table; }
.pokemon__wrapper:after { clear: both; }

.pokemon__item { width: 48%; float: left; margin-bottom: 20px; min-height: 200px; }
.pokemon__item:nth-child(even) { margin-left: 2%; }
.pokemon__item:nth-child(odd) { margin-right: 2%; }
.pokemon__item a { color: #333; text-decoration: none; }
.pokemon__item__number { display: block; text-align: center; }
.pokemon__item__image { height: 70px; }
.pokemon__item__image img { max-height: 70px; max-width: 70px; display: block; margin: 0 auto; }
.pokemon__item__name { display: block; text-align: center; height: 25px; }
.pokemon__item .pokemon__item__types { width: 100%; text-align: center; margin: 5px 0; }
.pokemon__item .pokemon__item__types .type { display: inline-block; width: calc(50% - 17px); margin: 0 5px; padding: 2px; font-size: 12px; color: #fff; border: 1px solid #333; text-align: center; }
.pokemon__item .pokemon__item__types .type--normal { background: #6e6e6e; }
.pokemon__item .pokemon__item__types .type--fighting { background: #a2642e; }
.pokemon__item .pokemon__item__types .type--flying { background: #6398ab; }
.pokemon__item .pokemon__item__types .type--poison { background: #ae00ff; }
.pokemon__item .pokemon__item__types .type--ground { background: #a0642e; }
.pokemon__item .pokemon__item__types .type--rock { background: #4f3117; }
.pokemon__item .pokemon__item__types .type--bug { background: #99c12f; }
.pokemon__item .pokemon__item__types .type--ghost { background: #330296; }
.pokemon__item .pokemon__item__types .type--steel { background: #bababa; }
.pokemon__item .pokemon__item__types .type--fire { background: #ff6c00; }
.pokemon__item .pokemon__item__types .type--water { background: #007eff; }
.pokemon__item .pokemon__item__types .type--grass { background: #247b26; }
.pokemon__item .pokemon__item__types .type--electric { background: #ebd300; }
.pokemon__item .pokemon__item__types .type--psychic { background: #ff00ba; }
.pokemon__item .pokemon__item__types .type--ice { background: #64e2a8; }
.pokemon__item .pokemon__item__types .type--dragon { background: #1e00ff; }
.pokemon__item .pokemon__item__types .type--fairy { background: #e77ce6; }
.pokemon__item .pokemon__item__types .type--dark { background: #2c292c; }
.pokemon__item .pokemon__item__link { display: block; text-align: center; text-decoration: underline; }
.pokemon__item .add__pokemon { display: block; text-align: center; text-decoration: underline; }

@media screen and (min-width: 568px) { .pokemon__wrapper { margin-top: 20px; }
  .pokemon__item { width: calc(30.33%); float: left; margin-bottom: 20px; min-height: 200px; }
  .pokemon__item:nth-child(3n-2) { margin-left: 2%; margin-right: 0; }
  .pokemon__item:nth-child(3n-1) { margin-right: 2%; margin-left: 2%; }
  .pokemon__item:nth-child(3n) { margin-left: 2%; margin-right: 0; } }
@media screen and (min-width: 768px) { .pokemon__item { width: calc(21%); float: left; margin-bottom: 20px; min-height: 200px; }
  .pokemon__item:nth-child(4n-3) { margin-left: 2%; margin-right: 0; }
  .pokemon__item:nth-child(4n-2) { margin-right: 2%; margin-left: 2%; }
  .pokemon__item:nth-child(4n-1) { margin-right: 2%; margin-left: 2%; }
  .pokemon__item:nth-child(4n) { margin-left: 2%; margin-right: 0; } }
@media screen and (min-width: 768px) { .pokemon__item { width: calc(calc(100% / 6) - 4%); float: left; margin-bottom: 20px; min-height: 200px; }
  .pokemon__item:nth-child(6n-5) { margin-left: 2%; margin-right: 0; }
  .pokemon__item:nth-child(6n-4) { margin-left: 2%; margin-right: 2%; }
  .pokemon__item:nth-child(6n-3) { margin-right: 2%; margin-left: 2%; }
  .pokemon__item:nth-child(6n-2) { margin-right: 2%; margin-left: 2%; }
  .pokemon__item:nth-child(6n-1) { margin-right: 2%; margin-left: 2%; }
  .pokemon__item:nth-child(6n) { margin-left: 2%; margin-right: 0; } }
.notification__area { position: fixed; top: 50px; right: 50px; width: 250px; height: 75px; overflow: hidden; }
.notification__area .notification__wrapper { background: rgba(255, 255, 255, 0.6); border-radius: 5px; }
.notification__area .notification__wrapper:before, .notification__area .notification__wrapper:after { content: ''; display: table; }
.notification__area .notification__wrapper:after { clear: both; }
.notification__area .notification__wrapper .pokemon { border-radius: 50%; background: rgba(255, 255, 255, 0.8); width: 65px; float: left; height: 65px; margin-top: 5px; margin-left: 5px; display: block; position: relative; }
.notification__area .notification__wrapper .pokemon img { max-height: 60px; width: 60px; margin: auto; display: table; vertical-align: middle; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.notification__area .notification__wrapper .message { float: left; margin-left: 10px; }
.notification__area .notification__wrapper .message p { line-height: 75px; margin: 0; }

/* Popup Window */
.add__pokemon__overlay { position: fixed; z-index: 50; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(51, 51, 51, 0.6); }
.add__pokemon__overlay .add__pokemon__wrapper { z-index: 51; padding: 25px; position: relative; background: #e6e6e6; }
.add__pokemon__overlay .add__pokemon__close { float: right; font-size: 20px; font-weight: 400; }
.add__pokemon__overlay .add__pokemon__details { text-align: center; margin-bottom: 15px; }
.add__pokemon__overlay .add__pokemon__details img { max-width: 120px; }
.add__pokemon__overlay input, .add__pokemon__overlay select { margin-left: 10px; margin-bottom: 10px; font-size: 18px; }
.add__pokemon__overlay select { width: 175px; }
.add__pokemon__overlay input { width: 80px; }
.add__pokemon__overlay button { margin-top: 40px; width: 80%; margin-left: 10%; background: #333; color: #fff; height: 50px; font-size: 20px; border: none; }

.pokemon__name { text-align: center; }

.pokemon__image { display: block; margin: 0 auto; }

.pokemon__stats p { margin: 0; }
.pokemon__stats table { margin: 0 auto; width: 60%; border-collapse: collapse; }
.pokemon__stats table th { text-align: left; }

.charged__moves, .fast__moves { font-size: 12px; width: 100%; border-collapse: collapse; }
.charged__moves th, .fast__moves th { text-decoration: underline; }
.charged__moves td, .charged__moves th, .fast__moves td, .fast__moves th { text-align: center; padding: 5px 0; border: 0.5px solid #999; }
.charged__moves td:first-child, .fast__moves td:first-child { width: 30%; }
.charged__moves .movetype, .fast__moves .movetype { display: block; padding: 2px; font-size: 12px; color: #fff; border: 1px solid #333; text-align: center; text-shadow: 2px 2px 0px 3px #333; }
.charged__moves .movetype--normal, .fast__moves .movetype--normal { background: #6e6e6e; }
.charged__moves .movetype--fighting, .fast__moves .movetype--fighting { background: #a2642e; }
.charged__moves .movetype--flying, .fast__moves .movetype--flying { background: #6398ab; }
.charged__moves .movetype--poison, .fast__moves .movetype--poison { background: #ae00ff; }
.charged__moves .movetype--ground, .fast__moves .movetype--ground { background: #a0642e; }
.charged__moves .movetype--rock, .fast__moves .movetype--rock { background: #4f3117; }
.charged__moves .movetype--bug, .fast__moves .movetype--bug { background: #99c12f; }
.charged__moves .movetype--ghost, .fast__moves .movetype--ghost { background: #330296; }
.charged__moves .movetype--steel, .fast__moves .movetype--steel { background: #bababa; }
.charged__moves .movetype--fire, .fast__moves .movetype--fire { background: #ff6c00; }
.charged__moves .movetype--water, .fast__moves .movetype--water { background: #007eff; }
.charged__moves .movetype--grass, .fast__moves .movetype--grass { background: #247b26; }
.charged__moves .movetype--electric, .fast__moves .movetype--electric { background: #ebd300; }
.charged__moves .movetype--psychic, .fast__moves .movetype--psychic { background: #ff00ba; }
.charged__moves .movetype--ice, .fast__moves .movetype--ice { background: #64e2a8; }
.charged__moves .movetype--dragon, .fast__moves .movetype--dragon { background: #1e00ff; }
.charged__moves .movetype--fairy, .fast__moves .movetype--fairy { background: #e77ce6; }
.charged__moves .movetype--dark, .fast__moves .movetype--dark { background: #2c292c; }

.evolution__wrapper { position: relative; }
.evolution__wrapper:before, .evolution__wrapper:after { content: ''; display: table; }
.evolution__wrapper:after { clear: both; }
.evolution__wrapper .level.level--1 { margin: 0 !important; height: 100%; vertical-align: middle; }
.evolution__wrapper .level.pokemon__evos--1 { width: 100%; }
.evolution__wrapper .level.pokemon__evos--1 .pokemon__details .pokemon__img img { max-width: 120px; }
.evolution__wrapper .level.pokemon__evos--1 .pokemon__details .pokemon__id { font-size: 20px; }
.evolution__wrapper .level.pokemon__evos--1 .pokemon__details .pokemon__name { font-size: 20px; }
.evolution__wrapper .level.pokemon__evos--2 { width: calc(calc(100% / 2) - 30px); float: left; margin-left: 60px; }
.evolution__wrapper .level.pokemon__evos--2 .arrow__wrapper { padding-bottom: 80px; position: absolute; }
.evolution__wrapper .level.pokemon__evos--2 .arrow__wrapper:after { content: '\f061'; font-family: 'FontAwesome'; position: absolute; font-size: 30px; top: 50px; left: -42px; color: rgba(51, 51, 51, 0.4); }
.evolution__wrapper .level.pokemon__evos--2 .candy { text-align: center; font-size: 16px; position: absolute; top: 33px; left: -65px; color: #333; }
.evolution__wrapper .level.pokemon__evos--2 .item { position: absolute; left: -65px; top: 65px; }
.evolution__wrapper .level.pokemon__evos--2 .item img { width: 75px; }
.evolution__wrapper .level.pokemon__evos--2 .evo__desc { font-size: 16px; position: absolute; left: -80px; width: 100px; top: 90px; text-align: center; }
.evolution__wrapper .level.pokemon__evos--2 .pokemon__details .pokemon__img img { max-width: 120px; }
.evolution__wrapper .level.pokemon__evos--3 { width: calc(calc(100% / 3) - 30px); float: left; margin-left: 40px; }
.evolution__wrapper .level.pokemon__evos--3 .arrow__wrapper { padding-bottom: 80px; position: absolute; }
.evolution__wrapper .level.pokemon__evos--3 .arrow__wrapper:after { content: '\f061'; font-family: 'FontAwesome'; position: absolute; font-size: 30px; top: 50px; left: calc(50% - 34px); color: rgba(51, 51, 51, 0.6); }
.evolution__wrapper .level.pokemon__evos--3 .candy { text-align: center; font-size: 12px; position: absolute; top: 33px; left: -50px; color: #333; }
.evolution__wrapper .level.pokemon__evos--3 .item { position: absolute; left: -50px; top: 80px; }
.evolution__wrapper .level.pokemon__evos--3 .item img { width: 50px; }
.evolution__wrapper .level.pokemon__evos--3 .pokemon__details .pokemon__img img { max-width: 80px; }

.pokemon__evo { position: relative; margin-bottom: 15px; }
.pokemon__evo .pokemon__name p { margin: 0; }
.pokemon__evo .pokemon__details { text-align: center; }
.pokemon__evo .pokemon__details .pokemon__img img { width: 100%; }

@media screen and (min-width: 568px) { .pokemon__stats { font-size: 20px; }
  .fast__moves, .charged__moves { font-size: 18px; }
  .evolution__wrapper .level.pokemon__evos--1 .pokemon__details .pokemon__img img { max-width: 120px; }
  .evolution__wrapper .level.pokemon__evos--2 .pokemon__evo .candy { font-size: 20px; }
  .evolution__wrapper .level.pokemon__evos--2 .pokemon__evo .arrow__wrapper:after { top: 60px; }
  .evolution__wrapper .level.pokemon__evos--2 .pokemon__evo .evo__desc { font-size: 18px; }
  .evolution__wrapper .level.pokemon__evos--2 .pokemon__evo .pokemon__details { font-size: 20px; }
  .evolution__wrapper .level.pokemon__evos--2 .pokemon__evo .item { top: 75px; }
  .evolution__wrapper .level.pokemon__evos--2 .pokemon__details .pokemon__img img { max-width: 120px; }
  .evolution__wrapper .level.pokemon__evos--3 .pokemon__evo .candy { font-size: 20px; left: -65px; }
  .evolution__wrapper .level.pokemon__evos--3 .pokemon__evo .arrow__wrapper:after { top: 60px; }
  .evolution__wrapper .level.pokemon__evos--3 .pokemon__evo .evo__desc { font-size: 18px; }
  .evolution__wrapper .level.pokemon__evos--3 .pokemon__evo .pokemon__details { font-size: 20px; }
  .evolution__wrapper .level.pokemon__evos--3 .pokemon__evo .item { top: 95px; left: -65px; }
  .evolution__wrapper .level.pokemon__evos--3 .pokemon__evo .item img { width: 75px; }
  .evolution__wrapper .level.pokemon__evos--3 .pokemon__evo .pokemon__details .pokemon__img img { max-width: 120px; } }


