@import "functions";
@import "thematic";

.pokemon__wrapper {
    width:calc(100% / 2);
    float:left;
    margin-bottom:20px;
    .pokemon__ {
        &cp {
            text-align: center;
        }
        &img {
            img {
                display:block;
                margin:0 auto;
                max-width:100%;
                max-height: 100px;
            }
        }
        &name {
            text-align: center;
        }
        &type__wrapper {
            text-align: center;
            .pokemon__type {
                width:calc(50% - 16px);
                display:inline-block;
                width:40px;
                height:40px;
                @include displayTypes();
            }
        }
    }
}