@import "functions";
@import "thematic";
.pokemon__wrapper {
    @include clearfix;
}

.pokemon__item {
    width: 48%;
    float: left;
    margin-bottom: 20px;
    min-height: 200px;
    &:nth-child(even) {
        margin-left: 2%;
    }
    &:nth-child(odd) {
        margin-right: 2%;
    }
    a {
        color: #333;
        text-decoration: none;
    }
    &__number {
        display: block;
        text-align: center;
    }
    &__image {
        height: 70px;
        img {
            max-height: 70px;
            max-width: 70px;
            display: block;
            margin: 0 auto;
        }
    }
    &__name {
        display: block;
        text-align: center;
        height: 25px;
    }
    .pokemon__item__types {
        width: 100%;
        text-align: center;
        margin: 5px 0;
        .type {
            display: inline-block;

            margin: 0 5px;
            padding: 2px;
            width: 30px;
            height:30px;
            @include displayTypes();
        }
    }
    .pokemon__item__link {
        display: block;
        text-align: center;
        text-decoration: underline;
    }
    .add__pokemon {
        display: block;
        text-align: center;
        text-decoration: underline;
    }
}

@include if-bigger-than("mobilelandscape") {
    .pokemon__wrapper {
        margin-top: 20px;
    }
    .pokemon__item {
        width: calc(30.33%);
        float: left;
        margin-bottom: 20px;
        min-height: 200px;
        &:nth-child(3n-2) {
            margin-left: 2%;
            margin-right: 0;
        }
        &:nth-child(3n-1) {
            margin-right: 2%;
            margin-left: 2%;
        }
        &:nth-child(3n) {
            margin-left: 2%;
            margin-right: 0;
        }
    }
}

@include if-bigger-than("tabletportrait") {
    .pokemon__item {
        width: calc(21%);
        float: left;
        margin-bottom: 20px;
        min-height: 200px;
        &:nth-child(4n-3) {
            margin-left: 2%;
            margin-right: 0;
        }
        &:nth-child(4n-2) {
            margin-right: 2%;
            margin-left: 2%;
        }
        &:nth-child(4n-1) {
            margin-right: 2%;
            margin-left: 2%;
        }
        &:nth-child(4n) {
            margin-left: 2%;
            margin-right: 0;
        }
    }
}

@include if-bigger-than("tabletportrait") {
    .pokemon__item {
        width: calc(calc(100% / 6) - 4%);
        float: left;
        margin-bottom: 20px;
        min-height: 200px;
        &:nth-child(6n-5) {
            margin-left: 2%;
            margin-right: 0;
        }
        &:nth-child(6n-4) {
            margin-left: 2%;
            margin-right: 2%;
        }
        &:nth-child(6n-3) {
            margin-right: 2%;
            margin-left: 2%;
        }
        &:nth-child(6n-2) {
            margin-right: 2%;
            margin-left: 2%;
        }
        &:nth-child(6n-1) {
            margin-right: 2%;
            margin-left: 2%;
        }
        &:nth-child(6n) {
            margin-left: 2%;
            margin-right: 0;
        }
    }
}

.notification__area {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 250px;
    overflow: hidden;
    .notification__wrapper {
        background: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        @include clearfix;
        .pokemon {
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.8);
            width: 65px;
            float: left;
            height: 65px;
            margin-top: 5px;
            margin-left: 5px;
            display: block;
            position: relative;
            img {
                max-height: 60px;
                width: 60px;
                margin: auto;
                display: table;
                vertical-align: middle;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        .message {
            float: left;
            margin-left: 10px;
            p {
                line-height: 75px;
                margin: 0;
            }
        }
    }
}


/* Popup Window */

.add__pokemon__overlay {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.6);
    .add__pokemon__wrapper {
        z-index: 51;
        padding: 25px;
        position: relative;
        background: #e6e6e6;
    }
    .add__pokemon__close {
        float: right;
        font-size: 20px;
        font-weight: 400;
    }
    .add__pokemon__details {
        text-align: center;
        margin-bottom: 15px;
        img {
            max-width: 120px;
        }
    }
    input,
    select {
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    select {
        width: 175px;
    }
    input {
        width: 80px;
    }
    button {
        margin-top: 40px;
        width: 80%;
        margin-left: 10%;
        background: #333;
        color: #fff;
        height: 50px;
        font-size: 20px;
        border: none;
    }
}

.pokemon__name {
    text-align: center;
}

.pokemon__image {
    display: block;
    margin: 0 auto;
}

.pokemon__stats {
    p {
        margin: 0;
    }
    table {
        margin: 0 auto;
        width: 60%;
        border-collapse: collapse;
        th {
            text-align: left;
        }
    }
}

.charged__moves,
.fast__moves {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
    th {
        text-decoration: underline;
    }
    td,
    th {
        text-align: center;
        padding: 5px 0;
        border: 0.5px solid #999;
    }
    td:first-child {
        width: 30%;
    }
    .movetype {
        display: block;
        height:40px;
        width:40px;
        @include displayTypes();
    }
}

.evolution__wrapper {
    position: relative;
    @include clearfix;
    .level {
        &.level--1 {
            margin: 0 !important;
            height: 100%;
            vertical-align: middle;
        }
        &.pokemon__evos--1 {
            width: 100%;
            .pokemon__details {
                .pokemon__img img {
                    max-width: 120px;
                }
                .pokemon__id {
                    font-size: 20px;
                }
                .pokemon__name {
                    font-size: 20px;
                }
            }
        }
        &.pokemon__evos--2 {
            width: calc(calc(100% / 2) - 30px);
            float: left;
            margin-left: 60px;
            .arrow__wrapper {
                padding-bottom: 80px;
                position: absolute;
                &:after {
                    content: '\f061';
                    font-family: 'FontAwesome';
                    position: absolute;
                    font-size: 30px;
                    top: 50px;
                    left: -42px;
                    color: rgba(51, 51, 51, 0.4);
                }
            }
            .candy {
                text-align: center;
                font-size: 16px;
                position: absolute;
                top: 33px;
                left: -65px;
                color: #333;
            }
            .item {
                position: absolute;
                left: -65px;
                top: 65px;
                img {
                    width: 75px;
                }
            }
            .evo__desc {
                font-size: 16px;
                position: absolute;
                left: -80px;
                width: 100px;
                top: 90px;
                text-align: center;
            }
            .pokemon__details {
                .pokemon__img img {
                    max-width: 120px;
                }
            }
        }
        &.pokemon__evos--3 {
            width: calc(calc(100% / 3) - 30px);
            float: left;
            margin-left: 40px;
            .arrow__wrapper {
                padding-bottom: 80px;
                position: absolute;
                &:after {
                    content: '\f061';
                    font-family: 'FontAwesome';
                    position: absolute;
                    font-size: 30px;
                    top: 50px;
                    left: calc(50% - 34px);
                    color: rgba(51, 51, 51, 0.6);
                }
            }
            .candy {
                text-align: center;
                font-size: 12px;
                position: absolute;
                top: 33px;
                left: -50px;
                color: #333;
            }
            .item {
                position: absolute;
                left: -50px;
                top: 80px;
                img {
                    width: 50px;
                }
            }
            .pokemon__details {
                .pokemon__img img {
                    max-width: 80px;
                }
            }
        }
    }
}

.pokemon__evo {
    position: relative;
    margin-bottom: 15px;
    .pokemon__name {
        p {
            margin: 0;
        }
    }
    .pokemon__details {
        text-align: center;
        .pokemon__img img {
            width: 100%;
        }
    }
}

@include if-bigger-than("mobilelandscape") {
    .pokemon__stats {
        font-size: 20px;
    }
    .fast__moves,
    .charged__moves {
        font-size: 18px;
    }
    .evolution__wrapper {
        .level {
            &.pokemon__evos--1 {
                .pokemon__details {
                    .pokemon__img img {
                        max-width: 120px;
                    }
                }
            }
            &.pokemon__evos--2 {
                .pokemon__evo {
                    .candy {
                        font-size: 20px;
                    }
                    .arrow__wrapper {
                        &:after {
                            top: 60px;
                        }
                    }
                    .evo__desc {
                        font-size: 18px;
                    }
                    .pokemon__details {
                        font-size: 20px;
                    }
                    .item {
                        top: 75px;
                    }
                }
                .pokemon__details {
                    .pokemon__img {
                        img {
                            max-width: 120px;
                        }
                    }
                }
            }
            &.pokemon__evos--3 {
                .pokemon__evo {
                    .candy {
                        font-size: 20px;
                        left: -65px;
                    }
                    .arrow__wrapper {
                        &:after {
                            top: 60px;
                        }
                    }
                    .evo__desc {
                        font-size: 18px;
                    }
                    .pokemon__details {
                        font-size: 20px;
                    }
                    .item {
                        top: 95px;
                        left: -65px;
                        img {
                            width: 75px;
                        }
                    }
                    .pokemon__details {
                        .pokemon__img {
                            img {
                                max-width: 120px;
                            }
                        }
                    }
                }
            }
        }
    }
}